@import "https://use.typekit.net/apf3fqi.css";
@import "tailwindcss";

:root {
	font-family: "muli", sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1,
h2,
h3 {
	font-family: "muli", sans-serif;
	font-weight: 700;
	font-style: normal;
}

button {
	font-family: cheap-pine, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.truncate-multiline {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3; /* Change this number to the number of lines you want */
		overflow: hidden;
	}
}

@theme {
	--color-beige: #f2eade;
	--color-light-gray: #ab9b6a;
	--color-brown: #422e23;
	--color-clay: #b27e5b;
	--color-bronze: #8c6e31;
	--animate-top-span-open: top-span-open 1s ease-in-out;
	--animate-top-span-close: top-span-close 1s ease-in-out;
	--animate-bottom-span-open: bottom-span-open 1s ease-in-out;
	--animate-bottom-span-close: bottom-span-close 1s ease-in-out;
	--height-content-mobile: calc(100vh - 176px);
	--height-content-laptop: calc(100dvh - 228px);
}

@keyframes top-span-open {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@keyframes top-span-close {
	0%,
	100% {
		transform: rotate(0deg);
	}
}
@keyframes bottom-span-open {
	0% {
		transform-origin: 100%;
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}
@keyframes bottom-span-close {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}
